<h1>Our Discussion Page</h1>
<hr />
<% unless @all_discussion_posts.empty? %>
	<ul class="discussion-posts-list">
	<% @all_discussion_posts.each do |post| %>
		<li><strong><%= post.user.first_name + " " + post.user.last_name %></strong>: <%= post.content %></li>
	<% end %>
	</ul>
<% end %>